.blog-hero{
    background: url(/src/img/blog-banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    background-color: rgba(0,0,0,0.1);
    background-blend-mode: overlay;
}