.intro{
    background: hsl(244, 96%, 9%);
    margin-top: -3.5rem;

    .intro-img{

        .img-con{
            position: relative;
            padding-left: 1rem;
            padding-right: 1rem;

            &::after{
                content: "";
                position: absolute;
                top: -0.5rem;
                left: 0.5rem;
                width: 7rem;
                height: 7rem;
                border-top: 2px solid $primary;
                border-left: 2px solid $primary;
            }
    
            &::before{
                content: "";
                position: absolute;
                bottom: -0.5rem;
                right: 0.5rem;
                width: 7rem;
                height: 7rem;
                border-bottom: 2px solid $primary;
                border-right: 2px solid $primary;
            }
        }
    }
}