.testimonial{

    background: hsl(251, 96%, 10%);

    .img-fluid{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }

    .text-sm-center{
        text-align: left !important;
        
        @media (max-width:768px){
            text-align: center !important;
        }
    }
    
}